  body {
    background-image: url(bodyBackground.jpg);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-height: 100vh;
    margin: 0;
    padding: 0;
  }
  
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    max-width: 800px;
    padding: 20px;
  }
  
  h1 {
    text-align: center;
  }
  
  .campaign {
    margin-top: 20px;
    padding: 10px;
    background-color: #f0f0f0;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }

  .campaign-description {
        max-width: 400px;
    }

  .character {
    margin-top: 20px;
    padding: 10px;
    background-color: #f0f0f0;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  


header {
    width: 100%;
    height: 50px;
    background-color: rgb(212, 179, 138);
    position: fixed;
    display: flex;
    align-items: center;
}

.headerTitle {
    margin-left: 50px;
}

.headerMenu {
    display: flex;
    margin-left: auto;
    margin-right: 35px;
}

.menuButtons {
    padding: 0 15px;
    margin: 0 10px;
    height: 30px;
    text-align: center;
}

.modalAuthForm {
    background-color: rgb(0, 0, 0, 0.5);
    height: 100vh;
    display: flex;
}

.authFormBody {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.authFormContainer {
    background-color: #f0f0f0;
    background-size: cover;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.authFormBody form, .authFormBody table {
    margin-top: 20px;
}

.authFormSignIn {
    display: flex;
}

.signBtn {
    
    margin-bottom: 10px;
}

.headerMenu a {
    display: inline-block;
    padding: 10px 20px;
    margin-right: 10px;
    background-color: #ccc;
    color: #000000;
    text-decoration: none;
    border-radius: 5px;
  }
  
  .headerMenu a:hover {
    background-color: #aaa;
  }
  
  .error-message{
    color: red;
  }